<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" />
    <script type="text/javascript" th:src="@{/script/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/layui/layui.js}"></script>
    <link th:href="@{/kindeditor/themes/default/default.css}" type="text/css" rel="stylesheet">
    <script th:src="@{/kindeditor/kindeditor-all-min.js}"></script>
    <script th:src="@{/kindeditor/lang/zh-CN.js}"></script>
    <title>酒店修改</title>
</head>
<body>
<form class="layui-form" id="imageForm" enctype="multipart/form-data" style="margin-top: 15px;margin-left: 100px;">
    <div class="layui-form-item">
        <label class="layui-form-label">酒店名称</label>
        <div class="layui-input-inline">
            <input type="text" name="hotelName" th:value="${hotel.hotelName}" lay-verify="required" placeholder="请输入名称" autocomplete="off" class="layui-input">
        </div>
        <label class="layui-form-label">酒店类型</label>
        <div class="layui-input-inline">
            <select name="hotelTypeId" lay-filter="required">
                <option value="">请选择类型</option>
                <option th:selected="${hotelType.typeId == hotel.hotelTypeId}" th:each="hotelType : ${hotelTypeList}" th:value="${hotelType.typeId}" th:text="${hotelType.typeName}"></option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">酒店图标</label>
        <div class="layui-input-inline" style="width: 190px; height: 100px;">
            <img th:src="${hotel.hotelIcon}" width="100%" height="100%">
        </div>
        <label class="layui-form-label">酒店封面</label>
        <div class="layui-input-inline" style="width: 190px; height: 100px;">
            <img th:src="${hotel.hotelImage}" width="100%" height="100%">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">酒店图标</label>
        <div class="layui-input-inline">
            <input type="file" name="icon"/>
        </div>
        <label class="layui-form-label">酒店封面</label>
        <div class="layui-input-inline">
            <input type="file" name="image" />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">酒店地址</label>
        <div class="layui-input-inline">
            <input type="text" name="hotelAddr" th:value="${hotel.hotelAddr}" lay-verify="required" placeholder="请输入地址" autocomplete="off" class="layui-input">
        </div>
        <label class="layui-form-label">酒店价位</label>
        <div class="layui-input-inline">
            <input type="text" name="hotelPrice" th:value="${hotel.hotelPrice}" lay-verify="required" placeholder="请输入价位" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">酒店规模</label>
        <div class="layui-input-inline">
            <input type="text" name="hotelScale" th:value="${hotel.hotelScale}" lay-verify="required" placeholder="请输入规模" autocomplete="off" class="layui-input">
        </div>
        <label class="layui-form-label">酒店房型</label>
        <div class="layui-input-inline">
            <input type="text" name="hotelRoomType" th:value="${hotel.hotelRoomType}" lay-verify="required" placeholder="请输入房型" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">酒店设施</label>
        <div class="layui-input-inline">
            <input type="text" name="hotelFacilities" th:value="${hotel.hotelFacilities}" required lay-verify="required" placeholder="请输入设施" autocomplete="off" class="layui-input">
        </div>
        <label class="layui-form-label">出现次序</label>
        <div class="layui-input-inline">
            <input type="text" name="hotelOrder" th:value="${hotel.hotelOrder}" lay-verify="required|number" placeholder="请输入次序" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">酒店概要</label>
        <div class="layui-input-block" style="width: 500px;">
            <textarea name="hotelSummary" placeholder="请输入概要" th:text="${hotel.hotelSummary}" required lay-verify="required" class="layui-textarea"></textarea>
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">酒店介绍</label>
        <div class="layui-input-block" style="width: 860px;">
            <textarea name="hotelDesc" id="hotelDesc" lay-verify="hotelDesc" style="height: 400px" th:text="${hotel.hotelDesc}"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">发布状态</label>
        <div class="layui-input-block">
            <input type="checkbox" name="hotelStatus" value="1" th:checked="${hotel.hotelStatus == '1'}" lay-skin="switch" lay-filter="required" lay-text="发布|保存">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" lay-filter="sub">确定</button>
        </div>
    </div>
</form>
<script>
    var editor;
    KindEditor.ready(function(K) {
        editor = K.create('#hotelDesc',{
            minHeight:'350px',
            allowFileManager : true,
            uploadJson : '[[@{/admin/hotel/image}]]',
            afterUpload: function(){this.sync();}, //图片上传后，将上传内容同步到textarea中
            afterBlur: function(){this.sync();}  ////失去焦点时，将上传内容同步到textarea中
        });
    });
    layui.use('form', function(){
        var form = layui.form;
        //提交表单
        form.on('submit(sub)', function (data) {
            $.ajax({
                type: "PUT",
                url: '[[@{/admin/hotel/}]]'+'[[${hotel.hotelId}]]',
                data: new FormData($("#imageForm")[0]),
                processData: false,
                contentType: false,
                dataType: "json",
                success: function (result) {
                    if (result.code == 0) {
                        var id = layer.msg("修改成功",{
                            time:false,
                            btn:['知道了'],
                            yes:function () {
                                layer.close(id);
                            }
                        });
                    } else {
                        var id = layer.msg("修改失败",{
                            time:false,
                            btn:['知道了'],
                            yes:function () {
                                layer.close(id);
                            }
                        });
                    }
                }
            });
            return false;
        });
        //自定义验证规则
        form.verify({
            hotelDesc: function (value) {
                editor.sync();
            }
        });
    });
</script>
</body>
</html>