<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="guet.hj.travel.dao.SuggestMapper" >
  <resultMap id="BaseResultMap" type="guet.hj.travel.entity.Suggest" >
    <id column="suggest_id" property="suggestId" jdbcType="BIGINT" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="telephone" property="telephone" jdbcType="VARCHAR" />
    <result column="suggest" property="suggest" jdbcType="VARCHAR" />
    <result column="carry_file" property="carryFile" jdbcType="VARCHAR" />
    <result column="suggest_time" property="suggestTime" jdbcType="DATE" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    suggest_id, title, username, telephone, suggest, carry_file, suggest_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="guet.hj.travel.entity.SuggestExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from suggest
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from suggest
    where suggest_id = #{suggestId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from suggest
    where suggest_id = #{suggestId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="guet.hj.travel.entity.SuggestExample" >
    delete from suggest
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="guet.hj.travel.entity.Suggest" >
    insert into suggest (suggest_id, title, username, 
      telephone, suggest, carry_file, 
      suggest_time)
    values (#{suggestId,jdbcType=BIGINT}, #{title,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, 
      #{telephone,jdbcType=VARCHAR}, #{suggest,jdbcType=VARCHAR}, #{carryFile,jdbcType=VARCHAR}, 
      #{suggestTime,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="guet.hj.travel.entity.Suggest" >
    insert into suggest
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="suggestId != null" >
        suggest_id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="telephone != null" >
        telephone,
      </if>
      <if test="suggest != null" >
        suggest,
      </if>
      <if test="carryFile != null" >
        carry_file,
      </if>
      <if test="suggestTime != null" >
        suggest_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="suggestId != null" >
        #{suggestId,jdbcType=BIGINT},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null" >
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="suggest != null" >
        #{suggest,jdbcType=VARCHAR},
      </if>
      <if test="carryFile != null" >
        #{carryFile,jdbcType=VARCHAR},
      </if>
      <if test="suggestTime != null" >
        #{suggestTime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="guet.hj.travel.entity.SuggestExample" resultType="java.lang.Integer" >
    select count(*) from suggest
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update suggest
    <set >
      <if test="record.suggestId != null" >
        suggest_id = #{record.suggestId,jdbcType=BIGINT},
      </if>
      <if test="record.title != null" >
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.username != null" >
        username = #{record.username,jdbcType=VARCHAR},
      </if>
      <if test="record.telephone != null" >
        telephone = #{record.telephone,jdbcType=VARCHAR},
      </if>
      <if test="record.suggest != null" >
        suggest = #{record.suggest,jdbcType=VARCHAR},
      </if>
      <if test="record.carryFile != null" >
        carry_file = #{record.carryFile,jdbcType=VARCHAR},
      </if>
      <if test="record.suggestTime != null" >
        suggest_time = #{record.suggestTime,jdbcType=DATE},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update suggest
    set suggest_id = #{record.suggestId,jdbcType=BIGINT},
      title = #{record.title,jdbcType=VARCHAR},
      username = #{record.username,jdbcType=VARCHAR},
      telephone = #{record.telephone,jdbcType=VARCHAR},
      suggest = #{record.suggest,jdbcType=VARCHAR},
      carry_file = #{record.carryFile,jdbcType=VARCHAR},
      suggest_time = #{record.suggestTime,jdbcType=DATE}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="guet.hj.travel.entity.Suggest" >
    update suggest
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null" >
        telephone = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="suggest != null" >
        suggest = #{suggest,jdbcType=VARCHAR},
      </if>
      <if test="carryFile != null" >
        carry_file = #{carryFile,jdbcType=VARCHAR},
      </if>
      <if test="suggestTime != null" >
        suggest_time = #{suggestTime,jdbcType=DATE},
      </if>
    </set>
    where suggest_id = #{suggestId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="guet.hj.travel.entity.Suggest" >
    update suggest
    set title = #{title,jdbcType=VARCHAR},
      username = #{username,jdbcType=VARCHAR},
      telephone = #{telephone,jdbcType=VARCHAR},
      suggest = #{suggest,jdbcType=VARCHAR},
      carry_file = #{carryFile,jdbcType=VARCHAR},
      suggest_time = #{suggestTime,jdbcType=DATE}
    where suggest_id = #{suggestId,jdbcType=BIGINT}
  </update>
</mapper>